<!DOCTYPE html>
<html>
<head>
  <title>BlogBasico</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #71D757" class='container'>
<nav class='navbar'>
	<div class='navbar-inner'>
		<ul class='nav'>
			<li><%= link_to 'Inicio', root_path %></li>
			
			<li><%= link_to 'Administrativa', posts_path %></li>
			<li><%= link_to 'Reporte',posts_reporte_path %></li>
			
		</ul>
	</div>
</nav>

<%= yield %>

</body>
</html>
